<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Error</h1>
        <p>{{error}}<br /><br /><span style="font-size:17px"><b>{{emphasis}}</b></span></p>
        <form action="/" method="get">
            <input type="submit" class="btn primary_btn" value="Back" />
        </form>
    </body>
</html>