<html>
    <head>
        <!-- Can use `style.css` as we have a custom GET endpoint. -->
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Rendered</h1>
        <p>{{results}}</p>
    </body>
</html>