<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Success</h1>
        {{#each percentage}}
            <h3 class="primary_text_segment">Equation {{@key}}</h3>
            <p>Percentage: <b>{{this}}</b>%</p>
        {{/each}}
        <form action="/" method="get">
            <input type="submit" class="btn primary_btn" value="Back" />
        </form>
    </body>
</html>