<html>
    <head>
        <!-- Can use `style.css` as we have a custom GET endpoint. -->
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Success</h1>
        <p>Elements: <b>{{elements}}</b></p>
        <p>Percentage: <b>{{percentage}}</b>%</p>
        <form action="/" method="get">
            <input type="submit" id="back" value="Back" />
        </form>
    </body>
</html>