<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Success</h1>
        {{#each elements}}
            <p>Elements: <b>{{this}}</b></p>
            <!-- <p>Percentage: <b>{{percentage.0}}</b>%</p> -->
        {{/each}}
        <form action="/" method="get">
            <input type="submit" class="btn primary_btn" value="Back" />
        </form>
    </body>
</html>