<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <h1>Success</h1>
        <p>Elements: <b>{{elements}}</b></p>
        <p>Percentage: <b>{{percentage}}</b>%</p>
        <form action="/" method="get">
            <input type="submit" class="btn primary_btn" value="Back" />
        </form>
    </body>
</html>